@import 'https://fonts.googleapis.com/css?family=Oswald';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html, body{
    background: linear-gradient(to left, #fd746c, #ff9068);
    height:100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    
    font-family: 'Oswald', cursive;
}

h1{
    color: #fff;
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
}

.board{
    width:500px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.square {
    width: 150px;
    height: 100px;
    margin: 0px 0px;
    box-shadow:8px 8px 6px -6px black ;
    background-color: #fff;
    justify-content:center;
    align-items: center;
    font-size: 40px;
    color: black;
    user-select: none;
    font-family:  cursive;
    
  }

  .square:hover{
    background-color: darken(#444, 10%);
    cursor: pointer;
  }

 

  .active {
    background-color: darken(#444, 10%);
    transform: scale(1.1);
    transition: all .2s;
  }

  .square:active{
    background-color: darken(#444, 10%);
    transform: scale(1.1);
    transition: all .2s;
}

.game-info{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  
}

.game-info div{
  padding: 30px;
font-size: 50px;
margin-right: 100px;
}
